<p><h2>People</h2></p>

<table>
    <tr>
        <!-- Yes I know.... not great. -->
        <th width=200>Name</th>
        <th width=200>Birth Place</th>
        <th width=50>Height</th>
        <th width=70>Weight</th>
        <th width=100>Dob</th>
        <th>Age</th>
    </tr>
    <tr ng-repeat="person in people">
        <td><a href="#/person/{{person.Name}}">{{person.Name}}</a></td>
        <td>{{person.BirthPlace}}</td>
        <td>{{person.Height}}</td>
        <td>{{person.Weight}}</td>
        <td>{{person.Dob}}</td>
        <td>{{person.Age}}</td>
    </tr>
</table>

