<h2>
    Person
</h2>

<p>
    <div class="panel panel-default">
        <table>
            <tr>
                <td class="col-md-2">Name</td>
                <td>{{ person.Name }}</td>
            </tr>
            <tr>
                <td class="col-md-2">Birth Place</td>
                <td>{{ person.BirthPlace }}</td>
            </tr>
            <tr>
                <td class="col-md-2">Height</td>
                <td>{{ person.Height }}</td>
            </tr>
            <tr>
                <td class="col-md-2">Height</td>
                <td>{{ person.Weight }}</td>
            </tr>
            <tr>
                <td class="col-md-2">Dob</td>
                <td>{{ person.Dob }}</td>
            </tr>
            <tr>
                <td class="col-md-2">Height</td>
                <td>{{ person.Age }}</td>
            </tr>
        </table>
    </div>

</p>
<p>
    <button class="btn btn-info" ng-click="go('/people')">back to people</button>
</p>

